<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljzzkkkss.lottery.admin.mapper.ArticleMapper" >

    <select id="getArticleListByPage" resultType="com.ljzzkkkss.lottery.admin.model.Atricle">
        SELECT `id`,`title`,`category`,DATE_FROMAT(`date`,'%Y-%m-%d') `date` FROM `atricle`
        ORDER BY `isTop`,`date` DESC LIMIT #{start},#{pageSize}
    </select>

    <select id="getArticleById" resultType="com.ljzzkkkss.lottery.admin.model.Article">
        SELECT `id`,`title`,`subTitle`,`category`,`content`,`lable`,DATE_FROMAT(`date`,'%Y-%m-%d') `date`,`isTop`,`image`,`status` FROM `atricle`
        WHERE `id` = #{id}
    </select>

    <insert id="insertArticle" parameterType="com.ljzzkkkss.lottery.admin.model.Article">
        INSERT INTO `article`(`title`,`sutTitle`,`category`,`content`,`label`,`date`,`isTop`,`image`,`status`)
        VALUES(#{title},#{subTitle},#{category},#{content},#{label},#{date},#{isTop},#{image},#{status})
    </insert>

    <update id="updateArticleById" parameterType="com.ljzzkkkss.lottery.admin.model.Article">
        UPDATE `article`
        <trim prefix="set" suffixOverrides="," >
            <if test="title != null">`title` = #{title},</if>
            <if test="sutTitle != null">`sutTitle` = #{sutTitle},</if>
            <if test="category != null">`category` = #{category},</if>
            <if test="content != null">`content` = #{content},</if>
            <if test="label != null">`label` = #{label},</if>
            <if test="date != null">`date` = #{date},</if>
            <if test="isTop != null">`isTop` = #{isTop},</if>
            <if test="image != null">`image` = #{image},</if>
            <if test="status != null">`image` = #{status},</if>
        </trim>
        WHERE `id` = #{id}
    </update>

    <delete id="deleteArticleById" parameterType="Integer">
        DELETE FROM `article` WHERE `id` = #{id}
    </delete>
</mapper>