<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljzzkkkss.lottery.admin.mapper.MatchMapper" >

    <select id="getMatchListByPage" resultType="com.ljzzkkkss.lottery.admin.model.Match">
        SELECT `id`,`mainTeam`,`clientTeam`,`halfScore`,`totalScore`,`match`,`round`,`matchTime`,`endTime`,`ownerDate`,`status`
        FROM `match` ORDER BY `matchTime` DESC LIMIT #{start},#{pageSize};
    </select>

    <select id="getMatchListNotStart" resultType="com.ljzzkkkss.lottery.admin.model.Match">
        SELECT `id`,`mainTeam`,`clientTeam`,`match`,`round`,`matchTime`,`endTime`,`ownerDate`,`status`
        FROM `match` WHERE `endTime` &gt; NOW()
        ORDER BY `matchTime` DESC;
    </select>

    <select id="countMatch" resultType="Integer">
        SELECT COUNT(*)  FROM `match`;
    </select>

    <select id="getMatchById" parameterType="Long" resultType="com.ljzzkkkss.lottery.admin.model.Match">
        SELECT `id`,`mainTeam`,`clientTeam`,`halfScore`,`totalScore`,`match`,`round`,`matchTime`,`endTime`,`ownerDate`,`status` FROM `match`
        WHERE `id` = #{id};
    </select>

    <select id="getMatchByEndDayAndRound" resultType="com.ljzzkkkss.lottery.admin.model.Match">
        SELECT `id`,`mainTeam`,`clientTeam`,`halfScore`,`totalScore`,`match`,`round`,`matchTime`,`endTime`,`ownerDate`,`status` FROM `match`
        WHERE `ownerDate` = #{day} AND `round` = #{round};
    </select>

    <update id="updateMatch" parameterType="com.ljzzkkkss.lottery.admin.model.Match">
        UPDATE `match`
        <trim prefix="set" suffixOverrides="," >
            <if test="halfScore != null">`halfScore` = #{halfScore},</if>
            <if test="totalScore != null">`totalScore` = #{totalScore},</if>
            <if test="matchTime != null">`matchTime` = #{matchTime},</if>
            <if test="status != null">`status` = #{status},</if>
        </trim>
        WHERE `id` = #{id}
    </update>

    <insert id="insertMatch" useGeneratedKeys="true" keyProperty="id" parameterType="com.ljzzkkkss.lottery.admin.model.Match">
        INSERT INTO `match`(`mainTeam`,`clientTeam`,`halfScore`,`totalScore`,`match`,`round`,`matchTime`,`endTime`,`ownerDate`,`status`)
        VALUES (#{mainTeam},#{clientTeam},#{halfScore},#{totalScore},#{match},#{round},#{matchTime},{endTime},{ownerDate},#{status})
    </insert>
</mapper>