<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljzzkkkss.lottery.admin.mapper.OddMapper" >

    <select id="getOddListByMatchId" parameterType="Long" resultType="com.ljzzkkkss.lottery.admin.model.Odd">
        SELECT `id`,`matchId`,`category`,`rate`,`content`,`single` FROM `odd`
        WHERE `matchId` = #{matchId};
    </select>

    <insert id="insertOdd" parameterType="com.ljzzkkkss.lottery.admin.model.Odd">
        INSERT INTO `odd`(`matchId`,`category`,`rate`,`content`,`single`)
        VALUES (#{matchId},#{category},#{rate},#{content},#{single});
    </insert>

    <delete id="deleteOddByMatchId" parameterType="Long">
        DELETE FROM `odd` WHERE `matchId` = #{matchId};
    </delete>
</mapper>