<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljzzkkkss.lottery.admin.mapper.OptionalDetailMapper" >

    <select id="getOptionalDetailByOptionalId" parameterType="Integer" resultType="com.ljzzkkkss.lottery.admin.model.OptionalDetail">
        SELECT `matchId`,`category`,`rate`,`content` FROM `optional_detail` WHERE `optionalId` = #{optionalId};
    </select>

</mapper>