<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljzzkkkss.lottery.admin.mapper.UserMapper" >

    <select id="getUserListByPage" resultType="com.ljzzkkkss.lottery.admin.model.User">
        SELECT `id`,`username`,`phone`,`registerTime`,`lastLogin`
        FROM `user` ORDER BY `registerTime` DESC LIMIT #{start},#{pageSize};
    </select>

    <select id="countUser" resultType="Integer">
        SELECT COUNT(*)  FROM `user`;
    </select>
</mapper>